<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961609328461-rfsf6cr4fmgtlkkesh6gc4u74f6f4bng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961609328461-rfsf6cr4fmgtlkkesh6gc4u74f6f4bng</string>
	<key>API_KEY</key>
	<string>AIzaSyAbNsZzT96auwM5AIw2YW0a7nGVCqo4Ot4</string>
	<key>GCM_SENDER_ID</key>
	<string>961609328461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.desicionMakerApp</string>
	<key>PROJECT_ID</key>
	<string>desicionmakerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>desicionmakerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961609328461:ios:4acb0e7ad6324b9385f904</string>
</dict>
</plist>